

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  height: 100vh;
  font-family: Arial, sans-serif;
} 

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.input-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}


.output-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 5px;
  align-items: left;
}

input {
  margin-bottom: 5px;
  width: 150px;
  padding: 5px;
}

button {
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 4px;
}

button:hover {
  background-color: #45a049;
}

button.active {
  background-color: #4b45a0;
}

.output-value {
  font-weight: bold;
}

#sum {
  margin-top: 20px;
  font-weight: bold;
}

